template(name='header')
  header.navbar
    .navbar-inner
      a.brand(href='/') Microscope
      ul.nav
        li(class="{{activeRouteClass 'home' 'newPosts'}}")
          a(href="{{pathFor 'home'}}") New
        li(class="{{activeRouteClass 'bestPosts'}}")
          a(href="{{pathFor 'bestPosts'}}") Best
        if currentUser
          li(class="{{activeRouteClass 'postSubmit'}}")
            a(href="{{pathFor 'postSubmit'}}") Submit Post
        li.dropdown
          +notifications
      ul.nav.pull-right
        +loginButtons
