template(name='postItem')
  .post
    a.upvote.btn(href="#", class="{{upvotedClass}}") ⬆
    .post-content
      h3
        a(href='{{url}}')= title
        span= domain
      p {{pluralize votes "Vote"}}, submitted by #{author}
        a(href="{{pathFor 'postPage'}}") {{pluralize commentsCount "comment"}}
        if ownPost
          a(href="{{pathFor 'postEdit'}}") Edit
    a.discuss.btn(href="{{pathFor 'postPage'}}") Discuss
