template(name='newPosts')
  +postsList options

template(name='bestPosts')
  +postsList options

template(name='postsList')
  .posts
    each posts
      +postItem

    if postsReady
      unless allPostsLoaded
        a.load-more(href="#") Load more
    else
      div
        +spinner
